body {
  --textNormal: #222;
  --textTitle: #222;
  --textLink: blue;
  --hr: hsla(0, 0%, 0%, 0.2);

  background-color: var(--bg);
}

body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: #1d1f21;
  --textNormal: rgba(218, 218, 219, 0.88);
  --textTitle: rgb(197, 197, 197);
  --textLink: rgb(218, 218, 219);
  --hr: #414244;
}

.dark blockquote {
  color: rgba(218, 218, 219, 0.88);
}

.token.operator {
  background: none !important;
}
